@import url('index.css');

/* Reset basic spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between; /* Pushes Logo left, Nav right */
  align-items: center; /* Vertically centers items */
  padding: 1rem 2rem;
  background-color: var(--accent-shadow); /* Match page bg */
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  /* Add specific styling for "PathExt 2.0" here */
}

.navbar ul {
  display: flex; /* Makes list items horizontal */
  list-style: none; /* Removes bullet points */
  gap: 20px; /* Space between links */
}

.navbar a {
  text-decoration: none;
  color: var(--accent-teal); 
  font-family: sans-serif;  /* White Background */
  
  padding: 10px 20px;
  border-radius: 5px;               
  
  /* This makes the change smooth (0.3 seconds) */
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #FFFFFF;                       /* Text becomes White */
  
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sentence {
  font-size: 30px;
}